In [1]:
cd ..

/Users/valerieschnapp/Desktop/GT/CSE_6242/project/CSE_6242_Project

In [2]:
from config import connect
import pandas as pd

In [3]:
conn = connect()

In [4]:
cursor = conn.cursor()

In [5]:
q = "SELECT * FROM AQI.index WHERE state_name='Virginia'"
cursor.execute(q)

In [6]:
num_fields = len(cursor.description)
field_names = [i[0] for i in cursor.description]
print(field_names)

['state_name', 'date', 'aqi', 'category', 'defining_parameter', 'latitude', 'longitude', 'county_name']

In [7]:
table_rows = cursor.fetchall()

In [8]:
virginia_df = pd.DataFrame(table_rows, columns=field_names)

In [9]:
virginia_df

,state_name,date,aqi,category,defining_parameter,latitude,longitude,county_name
0,Virginia,2021-01-10,6,Good,PM10,36.70067,-80.87978,Carroll\r
1,Virginia,2021-01-10,2,Good,PM10,38.76835,-77.18347,Fairfax\r
2,Virginia,2021-01-01,25,Good,Ozone,37.32320,-80.45720,Giles\r
3,Virginia,2021-01-02,28,Good,Ozone,37.32320,-80.45720,Giles\r
4,Virginia,2021-01-03,21,Good,Ozone,37.32320,-80.45720,Giles\r
...,...,...,...,...,...,...,...,...
286545,Virginia,2020-10-27,28,Good,Ozone,36.89117,-81.25423,Wythe\r
286546,Virginia,2020-10-28,15,Good,Ozone,36.89117,-81.25423,Wythe\r
286547,Virginia,2020-10-29,19,Good,Ozone,36.89117,-81.25423,Wythe\r
286548,Virginia,2020-10-30,24,Good,Ozone,36.89117,-81.25423,Wythe\r
286549,Virginia,2020-10-31,25,Good,Ozone,36.89117,-81.25423,Wythe\r